@model _20LHWebPortal.Models.RateOrganizerHangoutViewModel
@{
    ViewBag.Title = "Rate";
}

<h2>Rate Organizer</h2>



@using (Html.BeginForm("Rate", "Hangout", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.HostUser)
    <div class="event upcoming" data-event-id="@Model.Id">
        <div class="header">
            <div class="title">@Model.Name</div>
            <div class="banner">
                <div>
                    @*<img src="http://gtspirit.com/wp-content/uploads/2016/02/McLaren-Preview-Event3.jpg" alt="banner" />*@
                    @*<img src="https://www.ciee.org/study-abroad/images/programs/0191/headers/desktop/wollongong-australia-outdoor-leadership-environmental-education-main.jpg" alt="remove this later" />*@
                    @{
                        var base6464 = Convert.ToBase64String(Model.ImageContent);
                        var srcImg = String.Format("data:image/png;base64,{0}", base6464);
                    }
                    <img src='@srcImg' onerror="this.src = 'https://www.ciee.org/study-abroad/images/programs/0191/headers/desktop/wollongong-australia-outdoor-leadership-environmental-education-main.jpg'" />
                </div>
            </div>
        </div>
        <section class="when">
            <i class="fa fa-clock-o pull-left"></i>
            <span class="pull-left">&nbsp;@string.Format("{0:MMM dd}, {0:ddd}, {1:hh:mm tt} to {2:hh:mm tt}", Model.Date, Model.StartTime, Model.EndTime)</span>
        </section>
        <section class="where">
            <i class="fa fa-map-marker pull-left"></i>
            <span class="pull-left">
                &nbsp;
                @if (@Model.Location.IsEmpty())
                {
                    <span>No location specified.</span>
                }
                else
                {
                    @Model.Location
                }
            </span>
        </section>
        <section class="who">
            <div class="organizer">
                <div class="organizer-image">
                    @*<div>
                            <img src="https://c1.staticflickr.com/1/149/426074142_5337cf5a70_z.jpg?zz=1" alt="@Model.HostName" />
                        </div>*@
                    @*@{
                        var base64 = Convert.ToBase64String(Model.HostUser.ImageContent);
                        var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                    }*@
                    @*<a href="@Url.Action("Member", "Account", new { userId = Model.HostUser.UserId })">
                        @if (Model.HostUser.Gender.Equals("male"))
                        {
                            <img src='@imgSrc' style="max-width:100px; max-height:100px;" onerror="this.src ='/Content/Images/male.png'" />
                        }
                        else
                        {
                            <img src='@imgSrc' style="max-width:100px; max-height:100px;" onerror="this.src ='/Content/Images/female.png'" />
                        }
                    </a>*@
                </div>
            </div>
            <div class="attendees">
                @if (Model.AttendingList.Any())
                {
                    foreach (var attendee in Model.AttendingList)
                    {
                        <div class="attendee">
                            @{
                                var base64Attendee = Convert.ToBase64String(attendee.ImageContent);
                                var imgSrcAttendee = String.Format("data:image/png;base64,{0}", base64Attendee);
                            }

                            <a href="@Url.Action("Member", "Account", new { userId = attendee.UserId })">
                                @if (Model.HostUser.Gender.Equals("male"))
                                {
                                    <img src='@imgSrcAttendee' style="max-width:100px; max-height:100px;" onerror="this.src ='/Content/Images/male.png'" />
                                }
                                else
                                {
                                    <img src='@imgSrcAttendee' style="max-width:100px; max-height:100px;" onerror="this.src ='/Content/Images/female.png'" />
                                }
                            </a>
                            @*<div>
                                    <img src="https://pbs.twimg.com/media/CHufAXdUEAAyIMH.jpg" alt="@attendee.Name" />
                                </div>*@
                        </div>
                                    }
                                }
            </div>
        </section>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OrganizerRating, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(
            model => model.OrganizerRating,
            new SelectList(
            new List<object>
                {
                new { value = 1 , text = "1 Star"  },
                new { value = 2, text = "2 Star" },
                new { value = 3, text = "3 Star"},
                new { value = 4, text = "4 Star"},
                },
                "value",
                "text",
             Model.OrganizerRating
                )
                )

        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(m => m.HangoutRating, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(
            model => model.HangoutRating,
            new SelectList(
            new List<object>
                {
                new { value = 1 , text = "1 Star"  },
                new { value = 2, text = "2 Star" },
                new { value = 3, text = "3 Star"},
                new { value = 4, text = "4 Star"},
                },
                "value",
                "text",
          Model.HangoutRating
                )
                )

        </div>
    </div>*@

    <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Rate" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

