@model _20LHWebPortal.Models.ActivityViewModel

@{
    Layout = null;
}


<div class="event-activity">
    <div class="header">
        <div class="user-image">
            @{
                var base64 = Convert.ToBase64String(Model.User.ImageContent);
                var imgSrc = String.Format("data:image/png;base64,{0}", base64);
            }
            <a href="@Url.Action("Member", "Account", new { userId = Model.User.UserId })">
                <img src='@imgSrc' style="max-width:100px; max-height:100px;" onerror="this.src ='/Content/Images/user.png'" />
            </a>
            @*<img src="/Content/Images/user.png" alt="user photo"/>*@
        </div>
        <div class="activity-content">
            @{
                var activity = " ";
                if (Model.activityType == 0)
                {
                    activity = "created ";
                }
                else if (Model.activityType == 1)
                {
                    activity = "joined ";
                }
                <span>@Html.ActionLink(
                         @Model.name,
                         "Member", "Account",
                         new { userId = Model.userId }, new { } )&nbsp;</span>
                
                @*<span>@Model.name&nbsp;</span>*@
                <span>@activity&nbsp;</span>
                <span>@Model.hangoutName</span>
            }
            <time class="timeago" datetime=@Model.timeStamp.ToString("o")></time>
        </div>
    </div>
</div>