@model _20LHWebPortal.Models.Events.EventCard

@{
    Layout = null;
}

<div class="event">
    <div class="title">
        @Model.Title
    </div>
    <div class="banner">
        <img src="@Model.BannerImageUrl" alt="event banner" />
    </div>
    <div class="user-info">
        <img src="@Model.UserImageUrl" alt="user photo" />
        <p>@Model.UserFullName</p>
    </div>
    <div class="description">
        @Model.Description
        @if (Model.Description.Length > 120)
        {
            <a href="@Url.Action("View", "Event")">...read more</a>
        }
    </div>
    <div class="location">
        @Model.Location
    </div>
    <div class="time-frame">
        <div class="from">
            <span class="date">
                @string.Format("{0:MM dd}", Model.StartTime)
            </span>
            @string.Format("{0:hh:mm tt}", Model.StartTime)
        </div>
        <div class="to">
            <span class="date">
                @string.Format("{0:MM dd}", Model.EndTime)
            </span>
            @string.Format("{0:hh:mm tt}", Model.EndTime)
        </div>

    </div>
</div>