    <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Social Coffee Shop</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Custom/animate.css" rel="stylesheet" />
    <link href="~/Content/Custom/buttons.min.css" rel="stylesheet" />
    <link href="~/Content/Custom/colors.min.css" rel="stylesheet"/>
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/Custom/bootstrapOverrides.min.css" rel="stylesheet"/>
    <link href="~/Content/Custom/formComponents.min.css" rel="stylesheet"/>
    <link href="~/Content/Custom/uiComponents.min.css" rel="stylesheet"/>
    <link href="~/Content/Custom/mediaQueries.min.css" rel="stylesheet" />
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/Custom/Shared.js"></script>
</head>
<body>
<!--Site Content-->
<div id="contentWrap">
    <!--Desktop Nav + Header-->
    <header class="hidden-xs">
        <div id="logo">
            <a href="/">
                @*<img src="~/Content/Images/Custom/20lh_logo.png" alt="20 Lets Hang Logo"/>*@
                <img src="~/Content/Images/TSCS.png" alt="20 Lets Hang Logo" />
            </a>
        </div>
        <div id="desktopNav" class="hidden-xs">
            @Html.Partial("menu")
        </div>
    </header>

    <!--Mobile Navigation-->
    <div class="visible-xs navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The Social Coffee Shop", "Upcoming", "Hangout", new {area = ""}, new {@class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <!--Main Content Container-->
    <div class="container-fluid" id="mainContainer">
        @{
            if (ViewBag.HideTitle == null)
            {
                ViewBag.HideTitle = false;
            }
        }
        @if (!ViewBag.HideTitle)
        {
            <!--Page Title-->
            <div class="row" id="siteTitle">
                <div class="col-lg-12">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
        }

        @RenderBody()

        @if (Request.IsAuthenticated)
        {
            <!---Action Buttons-->
            <div id="action-buttons">
                <a href="@Url.Action("Create", "Hangout")" id="add-activity">
                    <i class="fa fa-plus"></i>
                </a>

                <a href="@Url.Action("Index", "Manage")">
                    <i class="fa fa-user"></i>
                </a>
            </div>
        }
    </div>
</div>

<div id="notfications">
    
</div>

<!--Footer-->
<footer>
    <div id="footer-content">
        <span>20LH Web Portal &copy; @DateTime.Now.Year</span>
        <p>
            @Html.ActionLink("About", "About", "Home") | @Html.ActionLink("Things To Do", "ThingsToDo", "Home") | @Html.ActionLink("FAQ", "FAQ", "Home")
        </p>
    </div>
</footer>

<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.timepicker.min.js"></script>

@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>