@model _20LHWebPortal.Models.HangoutViewModel

@{
    Layout = null;
}

<div class="event upcoming" data-event-id="@Model.Id">
    <div class="header">
        <div class="title">@Model.Name <a href="@Url.Action("Index", "Hangout", new { id = Model.Id })">(more info ...)</a></div>
        <div class="banner">
            <div>
                @*<img src="http://gtspirit.com/wp-content/uploads/2016/02/McLaren-Preview-Event3.jpg" alt="banner" />*@
                @*<img src="https://www.ciee.org/study-abroad/images/programs/0191/headers/desktop/wollongong-australia-outdoor-leadership-environmental-education-main.jpg" alt="remove this later" />*@
                @{
                    var base6464 = Convert.ToBase64String(Model.ImageContent);
                    var srcImg = String.Format("data:image/png;base64,{0}", base6464);
                }
                @*<img src='@srcImg' onerror="this.src = 'https://www.ciee.org/study-abroad/images/programs/0191/headers/desktop/wollongong-australia-outdoor-leadership-environmental-education-main.jpg'" />*@      
                <img src='@srcImg' onerror="this.src = '/Content/Images/thesocialcoffeeshop.jpg'" />
            </div>
        </div>
        <div class="interactions">
            @if (Model.IsHost)
            {
                @*@Html.ActionLink(
                         "Edit",
                         "Edit",
                         new { id = Model.Id })*@

                <a href="#" data-button-type="edit-event" data-event-id="@Model.Id" data-toggle="modal" data-target="#edit-event-modal"><span class="glyphicon glyphicon-pencil"></span></a>


                <a href="#" class="red" data-toggle="modal" data-target="#_@Model.Id">
                Cancel
                &nbsp;
                <i class="fa fa-remove"></i>
                </a>

                <div id="_@Model.Id" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="gridSystemModalLabel">Confirm Event Cancellation</h4>
                            </div>

                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>Are you sure?</p>
                                        <p>Canceling your hangout within 24 hours will automatically warrant a 0 organizer rating.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <a href="@Url.Action("Cancel", new {id = @Model.Id})" class="red">
                                            "I'm Out!"
                                            &nbsp;
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (@Model.IsRsvp)
            {
                <a href="#" data-toggle="modal" data-target="#_@Model.Id">
                I'm Out!
                    &nbsp;
                    <i class="fa fa-remove"></i>
                </a>

                <div id="_@Model.Id" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="gridSystemModalLabel">Confirm UnRSVP</h4>
                            </div>

                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>Are you sure?</p>
                                        <p>Canceling your hangout within 24 hours will automatically warrant a 0 organizer rating.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <a href="@Url.Action("UnRSVP", new {id = @Model.Id})">
                                            "I'm Out!"
                                            &nbsp;
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (@Model.OpenSpots > 0)
            {
                <a href="@Url.Action("Join", "Hangout", new { id = Model.Id })">
                    I'm In!
                    &nbsp;
                    <i class="fa fa-check"></i>
                </a>
            }
            @*//need to not show Join button when not enough gender spots for the attendee. Is being handled in back end, but not front.
                //else if ((@Model.GenderRatio && @Model.MaleOpenSpots > 0 && @ViewData["gender"].ToString().Equals("male")) ||
                //(@Model.GenderRatio && @Model.FemaleOpenSpots > 0 && @ViewData["gender"].ToString().Equals("female")) ||
                //(!@Model.GenderRatio && @Model.OpenSpots > 0))*@


        </div>
    </div>
    <section class="when">
        <i class="fa fa-clock-o pull-left"></i>
        <span class="pull-left">&nbsp;@string.Format("{0:MMM dd}, {0:ddd}, {1:hh:mm tt} to {2:hh:mm tt}", Model.Date, Model.StartTime, Model.EndTime)</span>
    </section>
    <section class="where">
        <i class="fa fa-map-marker pull-left"></i>
        <span class="pull-left">
            &nbsp;
            @if (@Model.Location.IsEmpty())
            {
                <span>No location specified.</span>
            }
            else
            {
                @Model.Location
            }
        </span>
    </section>
    <section class="who">
        <div class="organizer" data-averagerating="@Model.HostAverageRating">
            <div class="organizer-image">
                @*<div>
                    <img src="https://c1.staticflickr.com/1/149/426074142_5337cf5a70_z.jpg?zz=1" alt="@Model.HostName" />
                </div>*@
                @{
                    var base64 = Convert.ToBase64String(Model.HostUser.ImageContent);
                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                }
                <a href="@Url.Action("Member", "Account", new { userId = Model.HostUser.UserId })">
                    <img src='@imgSrc' style="max-width:100px; max-height:100px;" onerror="this.src = '/Content/Images/defaulticon.jpg'" />
                    @*@if (Model.HostUser.Gender.Equals("male"))
                    {
                        <img src='@imgSrc' style="max-width:100px; max-height:100px;" onerror="this.src ='/Content/Images/male.png'" />
                    }
                    else
                    {
                        <img src='@imgSrc' style="max-width:100px; max-height:100px;" onerror="this.src ='/Content/Images/female.png'" />
                    }*@
                </a>
            </div>
        </div>
        <div class="attendees">
            @if (Model.AttendingList.Any())
            {
                foreach (var attendee in Model.AttendingList)
                {
                    <div class="attendee">
                        @{
                            var base64Attendee = Convert.ToBase64String(attendee.ImageContent);
                            var imgSrcAttendee = String.Format("data:image/png;base64,{0}", base64Attendee);
                        }
                        
                        <a href="@Url.Action("Member", "Account", new { userId = attendee.UserId })">
                            <img src='@imgSrcAttendee' style="max-width:100px; max-height:100px;" onerror="this.src = '/Content/Images/defaulticon.jpg'" />


                            @*@if (Model.HostUser.Gender.Equals("male"))
                            {
                                <img src='@imgSrcAttendee' style="max-width:100px; max-height:100px;" onerror="this.src ='/Content/Images/male.png'" />
                            }
                            else
                            {
                                <img src='@imgSrcAttendee' style="max-width:100px; max-height:100px;" onerror="this.src ='/Content/Images/female.png'" />
                            }*@
                        </a>
                        @*<div>
                            <img src="https://pbs.twimg.com/media/CHufAXdUEAAyIMH.jpg" alt="@attendee.Name" />
                        </div>*@
                    </div>
                }
            }
        </div>
    </section>
</div>